.Contact-Us {
  background-image: url(/src/assets/images/background_pattren.png);
  height: 100%;
  background-size: cover;
  width: 100%;
}
.ContactUs-Info h2 {
  font-size: var(--h1-60);
  font-weight: 400px;
}
.ContactUs-Info p {
  font-size: var(--p-24);
  font-weight: 400px;
}
.Contact-Us .btn-general {
  width: 176.54px;
  height: 42.51px;
  border-radius: 50px !important;
  background-color: #007580;
  color: #fff;
}
.Contact-Us .btn-general:hover {
  background-color: #005a63;
  color: #fff;
}
.Contact-Us .contact-form {
  margin-top: 100px !important;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.Contact-Us label {
  color: #86bdc3;
  font-size: 24px !important;
  font-family: Inter;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.contact-form .area {
  height: 114px !important;
}
.Contact-Us span {
  width: 18.00062370300293px;
  height: 18.000226974487305px;
  top: 0.000213623046875px;
  left: -0.0009765625px;
}
.contact-form .invalid {
  border: 1px solid red !important;
}
@media (max-width: 992px) {
  .ContactUs-Info h2 {
    font-size: 50px;
    padding-top: 20px !important;
  }
  .Contact-Us .contact-form {
    margin-top: 20px !important;
  }
  .contact-form .button-form {
    display: flex !important;
    justify-content: center !important;
  }
}
