/* ========color========== */
.page3-login .page3-login-title p,   .page3-login .email,
.page3-login .email::placeholder,    .page3-login .forget-password a,
.page3-login .page3-login-icons span,.page3-login .social-icons .facebook,
.page3-login .social-icons .google,  .page3-login .page3-login-account p{color: #282846 !important;}
/* ========transition========== */
.page3-login .show-password,     .page3-login .forget-password a,
.page3-login .social-icons .icon,.page3-login .page3-login-account a{transition: 0.5s ease-in-out;}
/* ========hover========== */
.page3-login .show-password:hover,     .page3-login .forget-password a:hover,
.page3-login .social-icons .icon:hover,.page3-login .page3-login-account a:hover{opacity: 0.8; cursor: pointer;}
/* ========style========== */
.page3-login{
    background-image: url('../../assets/images/background_pattren.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    overflow: hidden !important;
}
.page3-login .page3-login-logo {margin-bottom: -70px;margin-top: 60px}
.page3-login .page3-login-title{margin-top: 120px;}
.page3-login .page3-login-title p{
    font-weight: var(--fw-600);
    font-size: 30px;
}
.page3-login .page3-login-form{width:26%;margin: auto;}
.page3-login .email, .page3-login .password{
    font-size: 18px !important;
    height: 45px !important;
    border-bottom: 1px solid var(--Primary) !important;
}
.page3-login .invalid{border-bottom: 1px solid rgb(215, 1, 1) !important;}
.page3-login .show-password{
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--Secondary-1);
}
.page3-login .btn-gernal{
    width: 130px !important;
    height: 40px !important;
    font-size: 18px !important;
    font-weight: var(--fw-400) !important;
}
.page3-login .page3-login-icons span{
    font-weight: var(--fw-600);
    font-size: 18px;
    margin-top: 8px;
}
.page3-login .social-icons .linkedin{
   font-size: 18px !important;
   color: #fff;
   background-color: #282846;
   border-radius: 50%;
   text-align: center;
   padding: 7px 8px;
   position: relative;
   top: 10px;
}
.page3-login .social-icons .facebook{font-size: 31px;}
.page3-login .social-icons .google{font-size: 36px;}
.page3-login .social-icons .icon:hover{transform: scale(1.1);opacity:0.8}
.page3-login .page3-login-account a{color: var(--Secondary-1);}
@media (max-width:1200px) {.page3-login .page3-login-form{width:32%;}}
@media (max-width:992px)  {.page3-login .page3-login-form{width:40%;}}
@media (max-width:768px)  {.page3-login .page3-login-form{width:60%;}}
@media (min-width:768px) and (max-width:768.5px){.page3-login .page3-login-form{width:40%;}}
@media (max-width:500px)  {.page3-login .show-password{right: 0;}}
@media (max-width:445px)  {.page3-login .page3-login-form{width:90%;}}
@media (max-width:280px)  {
    .page3-login .page3-login-icons span{font-size: 16px;}
    .page3-login .social-icons .facebook{font-size: 27px;}
    .page3-login .social-icons .google{font-size: 32px;}
    .page3-login .page3-login-account p{font-size: 14px;}
    .page3-login .errors p{font-size: 14px;}
    .page3-login .social-icons .linkedin{
       padding: 5px 6px;
       top:7px ; 
    }   
}