.Profile-information{
    width: 65%  !important;
    margin: auto;

}
.Profile-information .input-current{
    height: 61px  !important;
    min-width: 100% !important;



}
.Profile-information .available{
    font-size: 24px;
    font-weight: 600;
    color: var(--Secondary-2);
    display: inline-block;
    margin-right: 5px;
}
.Profile-information .profile-title{
    font-weight: 600;
    size: 32px;
}
.Profile-information .all-2 select{
    width: 400px ;
}


.Profile-information .input-current::placeholder{
    color:var(--Secondary-2);
    font-weight: 600;
    font-size: 24px;
}
.Profile-information .seconry-one{
    color:var(--Secondary-1);
    font-size: 20px;
    font-weight: 600;
}
.Profile-information .content{
    display: flex;
    flex-direction: column;
    justify-content: Left;
    align-items: Left;
}
.Profile-information .para{
    width: 49% !important;
}
.Profile-information .buttons{
    margin-top:10px;
}
.Profile-information .submit{
    display: block;
    margin-left: auto;
}
.Profile-information .all-2 .dropdown-toggle::after{
    content:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.Profile-information .dropdown-item{
    display: block;
    min-width: 400px;
    font-weight: 400 !important;
    color: var(--Secondary-2 )!important;
    font-size: var(--p-24) !important;
    padding: 0px var(--bs-dropdown-item-padding-x);
    clear: both;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}
.Profile-information .dropdown-item:focus{
    background-color: #0d6efd;
    color: white!important;
}

.Profile-information .dropdown-item:hover{
    background-color: #0d6efd;
    color: white!important;
}


.Profile-information .all-2 .dropdown .btn {
    /* styling */
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-weight: 600 !important;
    color: var(--Secondary-2 )!important;
    font-size: var(--p-24) !important;
    border-bottom: 2px solid var(--Primary);
    display: inline-block;
    line-height: 1.5em !important;
    padding: 0.5em 13.5em 0.5em 0;
    min-width: 400px;
    padding-left:0 ;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-image:
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.Profile-information .all-2 .dropdown.minimal:focus {
    background-image:
        linear-gradient(45deg, black 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, black 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--Primary);
    outline: 0;
}


.Profile-information .all-2 .dropdown :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
@media(max-width: 768px){
    .Profile-information{
        width: 100% !important ;

    }
    .Profile-information .input-current{
        width: 100% ;

    }
   .Profile-information .input{
        display: block !important;
        width: 100% ;
    }
    .Profile-information .all-2 select{
       min-width: 100% ;
    }
    .Profile-information .buttons{
        flex-direction: column;
    }
    .Profile-information .submit{
        display: block;
        margin-left: 0;
        width: 100%;
    }
    .Profile-information .para{
        width: 100% !important;
    }
    .Profile-information .button-upload{
        min-width: 100%!important;

    }
}


